<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- PERFIL -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Actualmente cursando Tecnología en Desarrollo de Software en la Escuela Politécnica Nacional.
      Me especializo en programación y fundamentos de ingeniería de software.
      Busco oportunidades para prácticas preprofesionales donde pueda aplicar mis conocimientos en Python, Java y JavaScript.
    </ion-card-content>
  </ion-card>

  <!-- EXPERIENCIA -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Representante de Atención al Cliente</strong><br>
      Quito<br><br>

      • Atención al cliente<br>
      • Resolución de problemas<br>
      • Trabajo en equipo
    </ion-card-content>
  </ion-card>

  <!-- EDUCACIÓN -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Educación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tecnología en Desarrollo de Software<br>
      Escuela Politécnica Nacional (En curso)
    </ion-card-content>
  </ion-card>

  <!-- HABILIDADES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Habilidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="primary">Python</ion-chip>
      <ion-chip color="secondary">Java</ion-chip>
      <ion-chip color="tertiary">JavaScript</ion-chip>
      <ion-chip color="success">MySQL</ion-chip>
      <ion-chip color="warning">Git</ion-chip>
      <ion-chip color="danger">Maven</ion-chip>
    </ion-card-content>
  </ion-card>

  <!-- IDIOMAS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Idiomas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Español (Nativo)<br>
      Inglés
    </ion-card-content>
  </ion-card>

</ion-content>